// Functions
@function em($target, $context: 16){
  @return ($target / $context * 1em);
}

// Sass Variables

$grid-columns: 12;
$max-width: em(1200);

$breakpoint-medium: 'only screen and(min-width: 50em)';
$breakpoint-large: 'only screen and (min-width: 40em)';
$breakpoint-small: 'only screen and (min-width: 60em)';

%clearfix{
  *zoom: 1;
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}


// General Rules
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: auto;
  max-width: 100%;
  height: auto;
}



// Grid - mobile first
.wrapper{
  width: 100%;
  margin: 0 auto;

}
.row{
  width: 100%;

}
.wrapper:after,
.row:after{
  @extend %clearfix;
}
[class*='col-']{
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  margin: 0;
  //background: pink;
}

@media #{$breakpoint-medium}{
 .wrapper{
   max-width: $max-width;
 }
  @for $i from 1 through $grid-columns{
    .col-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }
}