
.navbar {
  position: fixed;
  top: 0px;
  max-height: 60px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  top: 0;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
  .navbar {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px;
  background-color: rgba(73, 140, 176, 0.9);
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: rgba(73, 140, 176, 0.9);
}

/*.sticky {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}*/

nav {
  float: right;
  width: 100%;
  ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
    float: right;
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
    a {
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 12px;
      transition: all 0.3s ease-out;
      border-bottom: none;
      &:hover {
        border-bottom: 2px solid #fce38a;
        color: #fce38a;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  nav {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  nav ul {
    padding-top: 40px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #FFFFFF;
    display: block;
  }
}

@media only screen and (max-width: 990px) {
  .mobile-toggle {
    display: block;
  }
}

.main-menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

.whyr-blog {
  display: inline-block;
   a {
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 12px;
      transition: all 0.3s ease-out;
      border-bottom: none;
      &:hover {
        border-bottom: 2px solid #fce38a;
        color: #fce38a;
      }
      img {
        width: 25px;
        margin-left: 10px;
      }
    }
    }