@import 'reset.scss';
@import 'variables.scss';
@import 'typography.scss';
@import 'grid.scss';
@import 'mixins.scss';
@import 'menu.scss';

html {
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

// Menu, nagłówek, tło, register bar
.top {
	background-image: url('http://www.warsawtour.pl/sites/default/files/panorama_warszawy2_fot._z_archiwum_warszawskiej_organizacji_turystycznej.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 700px;
  @media #{$tablet}{
    height: 100%;

  }
}
  .first-title {
    padding-top: 200px;
  }

  .register-bar {
    padding-top: 120px;
  a {
    padding: 20px;
    @include regist-btn(80px, 40px);
  }

}

// Sekcja About 



.slider-item {
img {
  min-height: 300px;;
}
}

// Speakers section

.speakers {
  background-image: url('../img/bg3-light.png');
  margin-bottom: 45px;

  img {
    max-width:100px;
    float: left;
   
  }
}

.speakers-icon{
  @include icons();
  margin: 0 auto;
  transition: all 1s linear;
}

// Sekcja programu konferencji
.program {
  i {
    font-size: 35px;
    margin-right: 15px;
    float: left;
  }
  p {
    margin-left: 50px;
  }
    .line {
      padding-bottom: 50px;
      border-bottom: 1px solid $heading-color;;
      
    }
  }

  // sekcja z miejscem wydziału
.place {
    min-width: 100%;
    height: 600px;
    background-image: url('../img/singleimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      @media #{$tablet} {
        height: 900px;
      }
      header {
        position: relative;
        top: 300px;
        color: $icon-color;
      }

  }

  // Warsztaty
.workshop {
  text-align: center;
  .work{
    h4 {
      line-height: 40px;
      transition:  all 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        color: $accent-color;
        }
      }
    }
}

  .work-content {
  display: none;
}