h5 {
	font-family: $primary-heading;
	font-weight: 600;
	font-size: 1.3em;
	color: $heading-color;
}

h4 {
	font-family: $secondary-heading;
	font-weight: 600;
	font-size: 1.3em;
	color: $heading-color;
}

h2 {
	font-family: $secondary-heading;
	font-weight: 600;
	font-size: 2em;
	color: #FFFFFF;
	@media #{$tablet} {
		font-size: 4em;
	}
}

h3 {
	font-family: $primary-heading;
	font-weight: 700;
	font-size: 1.4em;
}

h1 {
	font-family: $primary-heading;
	font-weight: 700;
	font-size: 4.5em;
	color: #FFFFFF;
	@media #{$tablet} {
		font-size: 9em;
	}
}

p {
	color: $text-color;
	font-family: $text;
	font-weight: 300;
	font-size: 1em;
	@media #{$phone} {
		font-size: 1.1em;
	}
}

li {
	font-family: $primary-heading;
	font-weight: 400;
	font-size: 18px;
}

a {
	color: $icon-color;
	border: none;
	text-decoration: uppercase;
}

header {
	color: $heading-color;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
	line-height: 50px;
	h3 {
		text-transform: uppercase;
	
	&:after {
		content: ' ';
	    border: 2px solid $line-color;
	    margin: 20px auto;
	    width: 7%; 
	    display: block;
}
}
	@media #{$tablet}{
		h3 {
			font-size: 2em;
			font-size: 2em;
		}
	}
	p{
		margin-top: 20px;
		line-height: 20px;
	}
	
}


.sponsors{
	h3{
		text-shadow: 2px 2px 1px silver;
	}
}