h5 {
	font-family: $secondary-heading;
	font-weight: 600;
	font-size: 20px;
	color: $heading-color;
}



h4 {
	font-family: $secondary-heading;
	font-weight: 600;
	font-size: 20px;
	color: $heading-color;
}

h2 {
	font-family: $secondary-heading;
	font-weight: 600;
	font-size: 32px;
	color: #FFFFFF;
	@media #{$tablet} {
		font-size: 64px;
	}
}

h3 {
	font-family: $primary-heading;
	font-weight: 700;
	font-size: 24px;
}

h1 {
	font-family: $primary-heading;
	font-weight: 700;
	font-size: 75px;
	color: #FFFFFF;
	@media #{$tablet} {
		font-size: 150px;
	}
}

p {
	color: $heading-color;
	font-family: $text;
	font-weight: 300;
	font-size: 15px;
	@media #{$phone} {
		font-size: 16px;
	}
}

li {
	font-family: $primary-heading;
	font-weight: 400;
	font-size: 18px;
}

a {
	color: $icon-color;
	border: none;
	text-decoration: uppercase;
}

header {
	color: $heading-color;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
	line-height: 50px;
	@media #{$tablet}{
		h3 {
			font-size: 2em;
		}
		h4 {
			font-size: 2em;
		}
	}

}