// Colory
$accent-color: #498CB0;
$bg-color: #FFFFFF;
$second-bg-color: #4d6a79;
$heading-color: #333333;
$text-color: #cccccc;
$icon-color: #FFFFFF;
$black: #000000;
$important-sponsor-color: #cea128;
$secondary-sponsor-color: #cccac6;
// Czcionki
$primary-heading: 'Montserrat', sans-serif;
$secondary-heading: 'Kaushan Script', cursive;
$text: 'Roboto', sans-serif;

// Media
$phone: "(min-width: 768px)";
$tablet: "(min-width: 992px)";
$desktop: "(min-width: 1200px)";
$phoneVertic: "(max-height: 510px)";
$custom: "(min-width: 1260px)";
$customD: "(min-width: 1024px)";